.form__button {
    background-color: teal;
    color: #eee;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.containerButtons {
    display: grid;
    grid-template-columns: auto auto;
}

@media (max-width: 767px) {
    .containerButtons {
        grid-template-columns: 100%;
    }
}

.containerButtons__button {
    font-size: large;
    color: teal;
    border: none;
    background-color: white;
    padding-left: 20px;
}

@media (max-width: 767px) {
    .containerButtons__button {
        margin: 10px;
    }
}

.container__button:disabled {
    color: grey;
}

