.form__button {
    background-color: teal;
    color: #eee;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.container__button {
    color: teal;
    border: none;
    background-color: white;
}