.section {
    background-color: white;
    margin-bottom: 10px;
}

.section__header {
    border-bottom: 2px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    padding: 20px;
}

.section__header--heading {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section__title {
    display: grid;
    margin: 0;
}